ul li {
  font-size: 14px;
  list-style: none;
}
.track-rcol {
  font-size: 14px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #eee;
}

.track-list {
  font-size: 14px;
  margin: 20px;
  padding-left: 5px;
  position: relative;
}

.track-list li {
  font-size: 14px;
  position: relative;
  padding: 9px 0 0 25px;
  line-height: 18px;
  border-left: 1px solid #d9d9d9;
  color: #4e4e4e;
}

.track-list li.first {
  font-size: 14px;
  color: red;
  padding-top: 0;
  border-left-color: #fff;
}

.track-list li .node-icon {
  font-size: 14px;
  position: absolute;
  left: -6px;
  top: 50%;
  width: 11px;
  height: 11px;
}

.track-list li.first .node-icon {
  font-size: 14px;
  background-position: 0 -72px;
}

.track-list li .time {
  font-size: 14px;
  margin-right: 20px;
  position: relative;
  top: 4px;
  display: inline-block;
  vertical-align: middle;
}

.track-list li .txt {
  font-size: 14px;
  position: relative;
  top: 4px;
  display: inline-block;
  vertical-align: middle;
}

.track-list li.first .time {
  font-size: 14px;
  margin-right: 20px;
}

.track-list li.first .txt {
  font-size: 18px;
  max-width: 600px;
}